@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

.input {
  @apply w-full px-4 py-2 bg-gray-200 border-none rounded-md focus:outline-none;
}

.input-label {
  @apply text-xs inline-block;
}

.icon-sm {
  @apply w-6;
}

.icon-lg {
  @apply w-10;
}

.icon-xl {
  @apply w-20;
}

.icon-action {
  @apply text-gray-300 transition-colors group-hover:text-gray-600;
}

.list-item {
  @apply flex items-center px-4 py-2 space-x-2 transition-colors bg-gray-200 rounded-md cursor-pointer hover:bg-opacity-80 group select-none;
}

.page-container {
  @apply w-full max-w-5xl px-2 mx-auto;
}
